body
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header
{
    background-color: #00aef0;
    padding: 15px;
    box-shadow: 0 0 3px #000;

}

header li
{
    display: inline;
    padding-left: 45px;
}

header li a
{
    color: #333;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
}


header li a:hover
{
    color: #00aef0;
}
header ul #MBO a
{
    color: white;
    font-size: 50px;
}



header #test
{
    color: #fff;
    background-color: #00aef0;
    border-radius: 50px;
    float: right;
    position: relative;
    top: -65px;
    transition: .3s ease;
    font-size: 25px;
    
}


header li img
{
    width: 150px;
    float: left;
    margin-top: -15px;
}
.active
{
    color: #00aef0;
}

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }