/* General CSS */
.hidden {
  display: none !important;
}

.no-drag {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Mitchell CSS */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Overview CSS */
table {
  width: 50%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: left;
}
tr {
  border-bottom: 1px solid #cbcbcb;
}
th,
td {
  border: none;
  height: 30px;
  padding: 2px;
}
tr:hover {
  background: #f5f5f5;
}

.edit_btn {
  text-decoration: none;
  padding: 2px 5px;
  background: #2e8b57;
  color: white;
  border-radius: 3px;
}

.del_btn {
  text-decoration: none;
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  background: #800000;
}
.msg {
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  width: 50%;
  text-align: center;
}

/* Steven CSS */
/* Default Login Page CSS */
.login {
  padding: 0;
  margin: 0;
}

.login--message {
  padding: .5rem;
  margin-top: .5rem;
}

.login--logo {
  position: relative;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  margin-left: 8.5em;
  margin-bottom: 2em;
}

.login--background {
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.login .container {
  position: relative;
  top: 25vh;
}

.login--form {
  justify-content: center;
}

.login--form .col-4 {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25rem;
  padding: 2em 1em;
}

.login--form .form-group {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 20px;
  padding: 2px 10px 2px 0;
}

.login--form .form-group i.fa-solid {
  position: absolute;
  top: 30%;
  left: 5%;
}

.login--form .form-group .form-control {
  padding: 10px 0 10px 15px;
  font-size: 17px;
  font-weight: 300;
  color: #000;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  width: 100%;
  outline: none;
  text-align: center;
}

.login--form button {
  background-color: #1daeec;
  border: none;
  color: #fff;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.login--form button:hover {
  background-color: #0083bb;
}

/* Superusers Order CSS */
.superuser--order {
  position: absolute;
  top: 2vh;
  right: 6vh;
}

.superuser--order span {
  display: block;
  text-align: center;
  padding-top: 0.5em;
  font-size: 12px;
}

.superuser--order .alert-success:hover {
  background-color: #155724;
  color: white;
}

.superuser--order .alert-danger:hover {
  background: #721c24;
  color: white;
}

/* Sidemenu CSS */
div.side-menu {
  background-color: #00aef0;
  height: 100vh;
  z-index: 2;
  color: white;
  position: relative;
}

div.side-menu img {
  padding-top: 2vh;
}

div.side-menu .copyright {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  margin-bottom: 1em;
}

div.side-menu > ul {
  list-style-type: none;
}

div.side-menu > ul > li {
  padding: 1em 0;
}

div.side-menu > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
/* Damiën's CSS */

/* The Modal (background) */
button.modalBtn {
  right: 0;
background-color: #00aef0;
color: rgb(255, 255, 255);
border: 1px solid #ffffff; /* Black */
font-weight: 700;
}

button.modalBtn  {
  transition-duration: 0.4s;
}

button.modalBtn:hover {
  background-color: #ffffff; /* MBOutrecht blue */
  color: #000000;
  border: 1px solid #000000; /* Black */
}


.editModal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #00aef0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  
}
div.edit {
  background-color: #00aef0;

}
#emailHelp{
  color: rgb(205, 205, 205);
}
form.form-editPersonalInfo{
  margin-top: 0px;
  border-color: #00aef0;
  color: white;
  font-weight: 700;
}

div.edit>input{
  background-color: #00aef0;
  color: white;
  font-weight: 700;
}

/* The Close Button */
.close {
  color: #fffefe;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





div.Profile-btn {
position: absolute; 
top: 0;
right: 0;
margin: 10px;
size: 25px; 
;
}
div.Profile-btn > a {
  color: #00AEF0;
  text-decoration: none;
  font-weight: 700;
}

div.P-background{
  background-color: #00aef0;
color: white;
font-weight: 700;
}
div>input.form-control-plaintext{
  color: white;
font-weight: 700;
}
/* profile picture */
    .Profile-Picture {
      position: absolute; 
      top: 0;
      right: 10%;
      margin: 10px; 
      size: 25px; 
    }
    .profile-pic {
      width: 200px;
      max-height: 200px;
      display: inline-block;
    }

    .file-upload {
      display: none;
    }
    .circle {
      border-radius: 100% !important;
      overflow: hidden;
      width: 128px;
      height: 128px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 72px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .p-image {
    position: absolute;
    top: 160px;
    left: 100px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
    .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
    .upload-button {
    font-size: 1.2em;
    }

    .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
    }
